extends layout

block content

  main.flex.justify-center.items-center.grow.gap-x-6
    article(class=" rounded w-80 max-w-xs aspect-square bg-slate-700 flex relative overflow-hidden group")  
      ul.w-full.h-full.aspect-square.p-6.flex.flex-col.justify-center.items-center 
        each category in categories 
          a(href=`/store/category/${category}` class=" hover:scale-125").flex-1
            li= category
        else
          p No categories
      div(class="group-hover:translate-x-full transition duration-500 before:content-['Categories'] before:absolute before:text-rose-600 before:flex before:justify-center before:items-center before:inset-0 before:text-2xl before:font-bold").category-modal.w-full.h-full.aspect-square.absolute.object-cover
        img(src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg")
    a(href="/store" before="All Items" class=" cursor-pointer rounded w-80 max-w-xs aspect-square bg-slate-700 flex relative group overflow-hidden before:content-[attr(before)] before:absolute before:text-black before:inset-0 before:flex before:justify-center before:items-center before:text-2xl before:z-10 before:font-bold") 
        img(class=" w-full h-full object-cover z-0 group-hover:scale-110 transition duration-300" src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg")

    aside 
      a(href="/store/seller/create" class=" fixed bottom-0 right-0 bg-orange-700 text-yellow-200 p-2 font-semibold") Become A Seller
