doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-slate-900.text-white.flex.flex-col.min-h-screen
    header(class=' justify-between items-center').text-center.bg-slate-700.text-gray-50.shadow-black.py-4.flex.space-x-auto.cursor-pointer
      a(href="/")
        div.logo.px-6
          p The new and improved
          h1.text-yellow-500.font-bold.text-2xl FakeStore

      div(class='space-x-4 mr-4')
        a(href="/") Home 
        a(href='/store') Store
        if(currentUser===undefined)
          a(href="/sign-up" class=" bg-emerald-700 rounded-full px-6 py-3 shadow-md font-bold") Sign Up 
          a(href="/log-in" class=" bg-red-700 rounded-full px-6 py-3 shadow-md font-bold") Log In 
    block content
