doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-slate-900.text-white
    header.text-center.bg-slate-700.text-gray-50.shadow-black.py-4
      p The new and improved
      h1.text-yellow-500.font-bold.text-2xl FakeStore
      block content
